---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ben Page-Gil | Hire me">
    <main class="min-h-full bg-cover bg-top sm:bg-top">
        <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-48">
          <p class="text-base font-semibold text-gray-50 text-opacity-50">404</p>
          <h1 class="mt-2 text-4xl font-bold text-gray-50 tracking-tight sm:text-5xl sm:tracking-tight">Uh oh! I think you’re lost.</h1>
          <p class="mt-2 text-lg font-medium text-gray-50 text-opacity-50">It looks like the page you’re looking for doesn't exist.</p>
          <div class="mt-6">
            <a href="/" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-gray-800
          bg-gray-400 hover:bg-gray-200"> Go back home </a>
          </div>
        </div>
      </main>
</Layout>