---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ben Page-Gil | Hire me">
    <main class="min-h-full bg-cover bg-top sm:bg-top">
        <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-48">
          <div class="dark:bg-slate-700 py-20 rounded-md">
          <p class="text-base font-semibold text-black dark:text-slate-200 text-opacity-50">404</p>
          <h1 class="mt-2 text-4xl font-bold text-black dark:text-slate-200 tracking-tight sm:text-5xl sm:tracking-tight">Uh oh! I think you’re lost.</h1>
          <p class="mt-2 text-lg font-medium text-black dark:text-slate-200 text-opacity-50">It looks like the page you’re looking for doesn't exist.</p>
          <div class="mt-6">
            <a href="/" class="inline-flex items-center px-4 py-2 border-4 border-black text-md font-medium text-gray-800
          bg-stone-50 dark:bg-slate-200 shadow-[7px_7px_0px_0px_rgba(0,0,0)] hover:shadow-[0px_0px_0px_0px_rgba(0,0,0)] transition ease-in-out"> GO BACK HOME </a>
          </div>
          </div>
        </div>
      </main>
</Layout>